BasedOnStyle: LLVM

AlwaysBreakTemplateDeclarations : true
BinPackArguments : false
BinPackParameters : false
BreakBeforeBinaryOperators : All

ConstructorInitializerAllOnOneLineOrOnePerLine : true

FixNamespaceComments : false
# SplitEmptyNamespace : true